<!-- snippets/header__search-desktop.liquid -->
{% comment %} 
  Search for desktop without predictive search.
  
  Usage:
    {% render 'header__search-desktop' %} 

  Globals:
    - settings.layout_horizontal: horizontaly margin
    - settings.type_seperator: setting to pick the type of seperator between text
{% endcomment %}

<div 
  class="no-js--hide left-0 right-0 top-1/2 flex items-center justify-center flex-grow py-0
    {% if section.settings.bar_layout_desktop == "left-below" %}relative grow-[7]{% endif %}
    {% unless section.settings.bar_layout_desktop == "left-below" %}{{ settings.layout_horizontal }} absolute !px-6{% endunless %}
  ">
  <div 
    class="flex-grow w-full
      {% if section.settings.bar_layout_desktop == "left-below" %}relative pl-6{% endif %}
      {% unless section.settings.bar_layout_desktop == "left-below" %}{{ settings.layout_horizontal }} !px-6 absolute{% endunless %}
    " 
    x-show="search_visible"
    x-cloak>

    <form 
      action="{{ routes.search_url }}" 
      method='get'>
      <div 
        class="relative"
        :class="{ 'z-50': search_active }">

        {% liquid
          assign resources = ""
          if settings.search_enable_page
          assign resources = resources | append: 'page' | append: ","
          endif 
          if settings.search_enable_article
          assign resources = resources | append: 'article' | append: ","
          endif 
          if settings.search_enable_product
          assign resources = resources | append: 'product' 
          endif 
        %}
        <input 
          type="hidden" 
          name="type" 
          value="{{ resources }}"> 
          
        {% comment %} Search input field {% endcomment %}
        <div 
          class="relative"
          :class="{ 'z-10': search_active }">
          <label 
            class="sr-only"
            for="search-desktop">
            {{ 'labels.search' | t }}
          </label>
          <input 
            id="search-desktop"
            class="form-input !pl-8 py-2 color__text !min-h-0 max-h-[35px]
              {{ section.settings.search_color_border }}
            " 
            type="text"
            name="q" 
            autocomplete="off"
            placeholder="{{ 'info.search_input_placeholder' | t }}"
            x-ref="searchInput"
            @focus="search_active = true;"
          />

          {% comment %} Cancel button {% endcomment %}
          <div class="absolute top-0 flex items-center h-full right-2">
            <button class="btn btn--smaller btn--plain !bg-transparent !border-0"
              title="{{ 'actions.cancel_search' | t }}"
              type="button"
              @click="
                search_active = false; $refs.searchInput.value = ''; 
                {% unless section.settings.bar_layout_desktop == "left-below" %}search_visible = false;{% endunless %}
              "
              x-show="search_active"
              x-cloak>
              {% render 'component__icon', 
                icon: 'x',
                size: '20', 
                class: '' 
              %}
            </button>
          </div>

          {% comment %} Search icon {% endcomment %}
          {% render 'component__icon', 
            icon: 'search',
            size: '20', 
            class: 'pointer-events-none absolute !flex items-center
            top-0 left-2 h-full opacity-50 color__text' 
          %}
        </div>
        
        {% comment %} Search dropdown {% endcomment %}
        <div 
          class="absolute overflow-hidden shadow-md border--width border--radius animation-500 pt-16 -left-3 -right-3 -top-3
            {{ section.settings.search_color_border }}
            {{ section.settings.search_color_scheme }}
          "
          x-show="search_active"
          x-cloak>
          <div class="flex flex-wrap h-full px-4 -mx-4">
            <div class="h-[70vh] max-h-[600px] w-full overflow-y-auto">
              <div class="p-4">
                <button 
                  class="btn btn--primary w-full"
                  type="submit">
                  {{ 'actions.search' | t }}
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </form> 
    
    {% comment %} Overlay {% endcomment %}
    <div
      class="fixed inset-0 bg-black bg-opacity-25"
      aria-hidden="true"
      @click="search_active = false;
        {% unless section.settings.bar_layout_desktop == "left-below" %}search_visible = false;{% endunless %}"
      x-show="search_active"
      x-cloak>
    </div>
    
  </div>
</div> 