<!-- snippets/header__search-mobile.liquid -->
{% comment %} 
  Simple search for mobile with submit button.
  
  Usage:
    {% render 'header__search-mobile' %} 

  Globals:
    - settings.layout_horizontal: horizontaly margin
    - settings.type_seperator: setting to pick the type of seperator between text
{% endcomment %}

<div class="flex-grow w-full {% unless section.settings.show_search_icon_mobile %} pt-2 {% endunless %} no-js--hide"
  x-data="{ 
    search: false
  }">

  <form action="{{ routes.search_url }}" 
    method='get'>
    <div class="relative min-h-[]"
      :class="{ 'z-10': search_active }">
      {% liquid
        assign resources = ""
        if settings.search_enable_page
        assign resources = resources | append: 'page' | append: ","
        endif 
        if settings.search_enable_article
        assign resources = resources | append: 'article' | append: ","
        endif 
        if settings.search_enable_product
        assign resources = resources | append: 'product' 
        endif 
      %}
      <input type="hidden" name="type" value="{{ resources }}"> 
      {% comment %} search input {% endcomment %}
      {% unless section.settings.show_search_icon_mobile %}
        <div class="relative">
          <input
            class="form-input !pl-8 color__text !min-h-0
              {{ section.settings.search_color_border }}"
            type="text"
            placeholder="{{ 'info.search_input_placeholder' | t }}"/>
          {% render 'component__icon', icon: 'search',
            size: '20', class: 'pointer-events-none absolute !flex items-center
            top-0 left-2 h-full opacity-50 color__text' %}
        </div>
      {% endunless %}
      <div x-show="!hide_mobile_input" class="absolute top-0 w-full animation-500"
        :class="{ 'z-10 !fixed left-4 !top-4 right-4 !w-auto': search_active }">
        <label class="sr-only"
          for="search-mobile">{{ 'labels.search' | t }}</label>
        <input id="search-mobile"
          class="form-input !pl-8 color__text !min-h-0
            {{ section.settings.search_color_border }}"
          type="text"
          name="q"
          placeholder="{{ 'info.search_input_placeholder' | t }}"
          x-ref="searchInputMobile"
          @focus="search_active = true;"/>
        <div class="absolute top-0 flex items-center h-full right-2">
          <button class="btn btn--smaller btn--plain !bg-transparent !border-0 opacity-0"
            :class="{ '!opacity-100' : search_active }"
            type="button"
            title="{{ 'actions.cancel_search' | t }}"
            @click="search_active = false; hide_mobile_input = true; $refs.searchInputMobile.value = '';"
            x-show="search_active">
            {% render 'component__icon', icon: 'x',
              size: '16', class: '' %}
          </button>
        </div>
        {% render 'component__icon', icon: 'search',
          size: '20', class: 'absolute !flex items-center
          top-0 left-2 h-full opacity-50 color__text' %}
      </div>
      
      {% comment %} search dropdown {% endcomment %}
      <div class="fixed overflow-hidden mobile-border--radius-t-0 shadow-md border--width border--radius animation-100 left-0 right-0 top-0 pt-14
        {{ section.settings.search_color_border }}
        {{ section.settings.search_color_scheme }}"
        x-show="search_active"
        {% if settings.enable_animations %}
          x-transition:enter="animation-300"
          x-transition:enter-start="opacity-0"
          x-transition:enter-end="opacity-100"
          x-transition:leave="animation-300"
          x-transition:leave-start="opacity-100"
          x-transition:leave-end="opacity-0"
        {% endif %}
        x-cloak>
        <div class="flex flex-wrap h-full px-4 -mx-4 overflow-y-auto">
          <div class="h-[50vh] w-full overflow-y-auto">
            <div class="p-4">
              <button type="submit" class="btn btn--primary w-full">
                {{ 'actions.search' | t }}
              </button>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </form>

  {% comment %}overlay{% endcomment %}
  <div
    class="fixed inset-0 bg-black bg-opacity-25"
    aria-hidden="true"
    @click="search_active = false; hide_mobile_input = true;"
    x-show="search_active"
    {% if settings.enable_animations %}
      x-transition:enter="animation-300"
      x-transition:enter-start="opacity-0"
      x-transition:enter-end="opacity-100"
      x-transition:leave="animation-300"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0"
    {% endif %}
    x-cloak>
  </div>
    
</div>